include src/bottle_suite/dashboard/dist/*
include src/bottle_suite/dashboard/dist/_nuxt/*
include src/bottle_suite/dashboard/dist/config/*
include src/bottle_suite/dashboard/dist/login/*
include src/bottle_suite/dashboard/dist/resources/*